{% load static %}

<div class="nav-bar">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                <div class="site-branding d-flex align-items-center">
                   <a class="d-block" href="{% url 'home' %}" rel="home">
                    Logo here
                    <!-- <img class="d-block" src="{% static 'assets/img/logo.png' %}" alt="logo"> -->
                   </a>
                   {% if messages %}
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                <div class="container alert-container">
                                    <div class="alert alert-success" role="alert">
                                        {{ message }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>

                <nav class="site-navigation d-flex justify-content-end align-items-center">
                    <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-items-center">
                        <li {% if request.resolver_match.url_name == 'home' %}class="current-menu-item"{% endif %}>
                            <a href="{% url 'home' %}">Домой</a>
                        </li>
                        {% if user.is_authenticated %}
                            {% if user.role == 1 %}
                            <li {% if request.resolver_match.url_name == 'office_menu' %}class="current-menu-item"{% endif %}>
                                <a href="{% url 'office_menu' %}">Кабинет</a>
                            </li>
                            {% else %}
                            <li {% if request.resolver_match.url_name == 'client_office' %}class="current-menu-item"{% endif %}>
                                <a href="{% url 'client_office' %}">Кабинет</a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="{% url 'logout' %}">Выйти</a>
                            </li>
                        {% else %}
                            <li {% if request.resolver_match.url_name == 'login' %}class="current-menu-item"{% endif %}>
                                <a href="{% url 'login' %}">Войти</a>
                            </li>
                            <li {% if request.resolver_match.url_name == 'register' %}class="current-menu-item"{% endif %}>
                                <a href="{% url 'register' %}">Зарегистрироваться</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav><!-- .site-navigation -->

                <div class="hamburger-menu d-lg-none">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div><!-- .hamburger-menu -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .nav-bar -->