{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Assets -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/swiper.min.css' %}">

    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% include 'partials/_navbar.html' %}

    {% block content %}
    {% endblock %}
    
    {% include 'partials/_footer.html' %}


    {% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>{% endblock %}
    
    <script type='text/javascript' src="{% static 'assets/js/custom.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/delete_alert.js' %}"></script>

    <script type='text/javascript' src='{% static 'assets/js/jquery.js' %}'></script>
    <script type='text/javascript' src='{% static 'assets/js/jquery.collapsible.min.js' %}'></script>
    <script type='text/javascript' src='{% static 'assets/js/swiper.min.js' %}'></script>
    <script type='text/javascript' src='{% static 'assets/js/jquery.countdown.min.js' %}'></script>
    <script type='text/javascript' src='{% static 'assets/js/circle-progress.min.js' %}'></script>
    <script type='text/javascript' src='{% static 'assets/js/jquery.countTo.min.js' %}'></script>
    <script type='text/javascript' src='{% static 'assets/js/jquery.barfiller.js' %}'></script>
    
    
</body>
</html>