{% extends 'base.html' %}

{% block title %}Меню кабинета{% endblock %}

{% block content %}
<div class="container office-menu mb-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
          <li class="breadcrumb-item active">Кабинет</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm text-center">
            <a href="{% url 'create_patient' %}" class="menu_btn">
                <i class="fa fa-user-plus fa-5x" aria-hidden="true"></i>
                <p>Создание пациента</p>
            </a>
        </div>
        <div class="col-sm text-center">
            <a href="{% url 'patients_list' %}" class="menu_btn">
                <i class="fa fa-list fa-5x" aria-hidden="true"></i>
                <p>Список пациентов</p>
            </a>
        </div>
        <div class="col-sm text-center">
            <a href="{% url 'incoming_requests' %}" class="menu_btn">
                <i class="fa fa-user-md fa-5x" aria-hidden="true"></i>
                <p>Входящие заявки</p>
            </a>
        </div>
        <div class="col-sm text-center">
            <a href="#" class="menu_btn">
                <i class="fa fa-user-md fa-5x" aria-hidden="true"></i>
                <p>История заключений</p>
            </a>
        </div>
    </div>
</div>

{% endblock %}