{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Заявка{% endblock %}

{% block content %}
<div class="container office-menu mb-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
          <li class="breadcrumb-item"><a href="{% url 'client_office' %}">Кабинет</a></li>
          <li class="breadcrumb-item"><a href="{% url 'incoming_requests' %}">Входящие заявки</a></li>
          <li class="breadcrumb-item active">Заявка</li>
        </ol>
    </nav>
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="container">
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="container">
                    <div class="alert alert-error" role="alert">
                       {{ message }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="row">
      <div class="col-sm">
        <h4>{{ xray_request.x_ray.patient }}: {{ xray_request.x_ray.result }}</h4>
        <img class="img-fluid" src="{{ xray_request.x_ray.photo.url }}" alt="">
        {% if not xray_request.is_answered %}
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Ответить</button>
            </form>
        {% else %}
            {% if xray_request.diagnosis %}
            <h4>Диагноз: {{ xray_request.diagnosis }}</h4>
            {% endif %}
            {% if xray_request.doctor_comment %}
            <h4>Комментарий: {{ xray_request.doctor_comment }}</h4>
            {% endif %}
        {% endif %}
      </div>
    </div>
</div>
{% endblock %}